<!--
{{ program_summary | json }}
{{ time_summary | json }}
<hr><hr>
-->

<h1 class="mt-2">Jahresübersicht</h1>
<p>Zusammenfassung aller aufgezeichneten Spüldurchgänge.</p>
<div id="year-summary-accordion" class="accordion" style="--bs-accordion-color: white;">
  <div class="accordion-item" *ngFor="let year of time_summary" year-row [year]="year">

  </div>
</div>

<hr>
<h1 class="">Programmübersicht</h1>
<p>Die Programmübersicht erfasst alle durchgeführten Spüldurchgänge seit aufzeichnungsbeginn am <b>{{ program_summary.firstrun_time * 1000| date:'dd.MM.yyyy' }}</b> (älteste Messung).</p>
<div class="row">
  <div class="col-12" *ngFor="let program of program_summary.program_summary" program-row [program]="program">
  </div>
</div>

