<div class="px-4 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="assets/dishwasher_white.png" alt="" width="20%">
  <h1 class="display-5 fw-bold">DishwasherHUB</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      This web application is the frontend to the project <i>"SmartDishwasher"</i>.<br><br>
      <b>Creator:</b> Constantin Zborowska (zborowska@gmail.com)<br><br>
      For more information about the project, please visit the linked GitHub repository.

    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <!--<button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>-->
      <a role="button" class="btn btn-outline-secondary btn-lg px-4" href="https://github.com/AmbroAnalog/SmartDishwasher">
        <fa-icon [icon]="faCodeBranch"></fa-icon> GitHub repository</a>
      <a role="button" class="btn btn-outline-secondary btn-lg px-4" href="mailto:zborowska40@gmail.com">
        <fa-icon [icon]="faPaperPlane"></fa-icon> Email</a>
    </div>
  </div>
  <br><hr><br>
  {{ backend_health | json }}
</div>
