<nav class="navbar navbar-dark navbar-expand-lg bg-primary rounded">
  <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">DishwasherHUB</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-2">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <span class="icon"><fa-icon [icon]="faListUl"></fa-icon></span>
          Startseite
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="summary">
          <span class="icon"><fa-icon [icon]="faMagnifyingGlassChart"></fa-icon></span>
          Zusammenfassung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="live">
          <span class="icon"><fa-icon [icon]="faEye"></fa-icon></span>
          Live-View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">
          <span class="icon"><fa-icon [icon]="faInfo"></fa-icon></span>
          Über</a>
      </li>
    </ul>
  </div>
  <a class="navbar-brand d-none d-sm-block" routerLink="/">
    <img src="assets/mielelogo_white.png" height="30" alt="">
  </a>
</nav>
