<div class="card mb-3">
  <div class="card-header text-muted" style="padding-right: 8px; padding-bottom: 0;">
    <div class="d-flex justify-content-between">
      <h4><fa-icon class="text-warning" [icon]="faCrown" *ngIf="program.program_is_king"></fa-icon>
        {{ getProgramName(program.program_id) }}</h4>
      <span class="badge bg-primary" style="height: 24px;">No. {{ program.program_id }}</span>
    </div>
  </div>

  <div class="card-body">
    <div *ngIf="program.program_counter > 1;then counter_multi else counter_single"></div>
    <ng-template #counter_multi><h5 class="card-title">{{ program.program_counter }} Ausführungen</h5></ng-template>
    <ng-template #counter_single><h5 class="card-title">eine Ausführung</h5></ng-template>

    <hr class="low-profile">
    <table class="table table-borderless mb-0">
      <tr>
        <td>mittlere Laufzeit:</td>
        <td>{{ program.program_runtime_average / 60 | number: '1.0-1'}} Min.
          <small class="text-muted">(𝜎 = {{ program.program_runtime_stdev | number: '1.0-0' }} sec.)</small>
        </td>
      </tr>
      <tr>
        <td>erwartete Laufzeit:</td>
        <td>{{ program.program_estimated_average / 60 | number: '1.0-1'}} Min.</td>
      </tr>
      <tr class="align-text-top">
        <td>mittlere Energie:</td>
        <td>{{ program.program_aenergy_average }} Wh<br>~ {{ calculateEnergyCosts(program.program_aenergy_average) }} €</td>
      </tr>
    </table>
    <hr class="low-profile">

    <p>Insgesamt verursachte Energiekosten durch das Programm ~ {{ calculateEnergyCosts(program.program_aenergy_summ) }} €</p>

    <small class="text-muted">zuletzt Ausgeführt am {{ program.program_last_run * 1000| date:'E, dd.MM.yyyy' }}</small>
  </div>
</div>
